/* education.css */

.education-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .education-content {
    display: flex;
    flex-direction: column;
    align-items:start;
    padding: 20px;
  }
  
  .education-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .education-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .education-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .education-text {
    flex: 1;
  }
  
  .education-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .education-item-date {
    font-size: 16px;
    color: #666;
  }
  
  .education-motion1{
    transition: 1s;
  }

  .education-motion2{
    transition: 2s;
  }

  .education-motion3{
    transition: 3s;
  }

  .education-motion4{
    transition: 4s;
  }
  .education-motion-hide1, .education-motion-hide2, .education-motion-hide3, .education-motion-hide4 {
    opacity: 0;
  }
  
  .education-text-left, .education-text-right {
    text-align: left;
  }
  
  .text-hide-left, .text-hide-right {
    opacity: 0;
  }