.skills-container{
    width: 100%;
    height: 100vh;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.education-title{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.skills-container::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: url('../image/about.2.0.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
}

:root{
    --fontPrimaryColor: #fff;
    --SecondaryColor: #000;
}

.skills-sub{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-inline: auto;
    align-items: center;
    
}
.skills{
    width: 40%;
    height: 40%;
    border: 1px solid #333;
    border-radius: 20px;
   
}
.skills-title{
    font-size: 3em;
    font-weight: bold;
    color: var(--fontPrimaryColor);
    text-align: center;
    text-transform: uppercase;

    
}
.skill-title{
    font-size: 3em;
    font-weight: bold;
    color: var(--fontPrimaryColor);
    text-align: center;
    text-transform: uppercase;
}

.Frontend,
.Backend,
.database{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
}

.Frontend,
.Backend,
.database p{
    color: var(--fontPrimaryColor);
}
.Backend img,
.database img{
    width: 50px;
    object-fit: cover;
    height: 50px;
}
.Frontend img{
    width: 50px;
    height: 50px;
}

.container-front{
    text-align: center;
    margin-inline: 1em;
}

/* -----------------animation------------------------------ */

.html-hide{
    opacity: 0;
    transform: translateY(-50px);
    transition: 1s;
}

.container-front.html-container{
    opacity: 1;
    transition: 2s;
    transform: translateY(0);
}

.webdevelopment{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 250px;
    height: 80px;
    background-color: var(--fontPrimaryColor);
    border-radius: 5px;
    transition: 0.5s;
}
.webdevelopment p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.webdevelopment:hover{
    cursor: pointer;
    transform: scale(1.1);
    /* background-color: #000; */
}

.monitor{
    font-size: 2em;
}
